.header-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--main-dark);
    width: 100%;
    align-items: center;
    vertical-align: center;
    height: 80px;
}

ul.header-menu {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header-container .header-menu a {
    margin: 1rem;
    font-size: large;
    text-decoration: none;
    color: var(--clr-white);
}
#menu-btn{
    display: none;
}
@media (max-width: 600px) {
    .header-container {
        padding: 0rem;
        height: 100%;
        z-index: 800;
    }
    #menu-btn{
        display: inline-block;
    }

    ul.header-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0rem;
    }

    .header-container .header-menu a {
        margin: 1rem;
        font-size: large;
    }
}
