:root {
    --main-dark: hsl(126, 36%, 17%);
    --main-color: hsl(125, 37%, 35%);
    --main-light: rgb(105, 189, 112);
    --main1-light: rgb(158, 226, 164);
    --main2-light: rgb(186, 209, 177);
    --white: #f5f5f5;
    --light-gray: rgb(105, 102, 102);
    --fixed-width: 620px;
    --max-width: 1170px;
    --clr-white: #fff;
    --radius: 0.25rem;
    --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    --transition: all 0.3s linear;
    --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    --blr: rgba(0, 0, 0, 0.5);
    --heights: 50vh;
    --widths: 100%;
    --heading-text: #1c1c1c;
}

body {
    font-family: sans-serif;
}

.absolute-center {
    display: flex;
    align-items: center;
    justify-content: center;
}
.max-width {
    max-width: 1100px;
    margin: 0px auto;
  }